USE [master]
GO
/****** Object:  Database [Makler]    Script Date: 24.04.2018 18:30:21 ******/
CREATE DATABASE [Makler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Makler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Makler.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Makler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Makler_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Makler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Makler]
GO
/****** Object:  Table [dbo].[Amlak]    Script Date: 24.04.2018 18:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amlak](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Amlak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Area]    Script Date: 24.04.2018 18:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Elan]    Script Date: 24.04.2018 18:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amlakid] [int] NULL,
	[Condition] [nvarchar](50) NULL,
	[Request] [nvarchar](50) NULL,
	[Areaid] [int] NULL,
	[Personalid] [int] NULL,
	[Price] [money] NULL,
	[Room] [int] NULL,
	[Note] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[DateIn] [date] NULL,
	[DateOut] [date] NULL,
 CONSTRAINT [PK_Elan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personal]    Script Date: 24.04.2018 18:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Makler] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Elan]  WITH CHECK ADD  CONSTRAINT [FK_Elan_Amlak] FOREIGN KEY([Amlakid])
REFERENCES [dbo].[Amlak] ([Id])
GO
ALTER TABLE [dbo].[Elan] CHECK CONSTRAINT [FK_Elan_Amlak]
GO
ALTER TABLE [dbo].[Elan]  WITH CHECK ADD  CONSTRAINT [FK_Elan_Area] FOREIGN KEY([Areaid])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Elan] CHECK CONSTRAINT [FK_Elan_Area]
GO
ALTER TABLE [dbo].[Elan]  WITH CHECK ADD  CONSTRAINT [FK_Elan_Personal] FOREIGN KEY([Personalid])
REFERENCES [dbo].[Personal] ([Id])
GO
ALTER TABLE [dbo].[Elan] CHECK CONSTRAINT [FK_Elan_Personal]
GO
USE [master]
GO
